<?xml version="1.0"?>
<robot name="extra_decorations" xmlns:xacro="http://ros.org/wiki/xacro">
	<link name="cube_centre"/>
	<joint name="cube_to_base_link" type="fixed">
    <parent link="base_link"/>
    <child link="cube_centre"/>
    <origin xyz="0 0 1" rpy="0 0 0" />
    <axis xyz="0 0 1.0" />
	</joint>
</robot>