<?xml version="1.0"?>

<launch>
	<arg name="world_name" default="$(find farm_worlds)/worlds/corn_field_barriers.world"/>
  
  <arg name="laser_enabled" default="true"/>
  <arg name="kinect_enabled" default="false"/>

  <arg name="x" default="6.0"/>
  <arg name="y" default="-3.0"/>
  <arg name="yaw" default="3.1415"/>

  <include file="$(find gazebo_ros)/launch/empty_world.launch">
    <arg name="world_name" value="$(arg world_name)"/>
    <arg name="paused" value="false"/>
    <arg name="use_sim_time" value="true"/>
    <arg name="gui" value="true"/>
    <arg name="headless" value="false"/>
    <arg name="debug" value="false"/>
  </include>


  <include file="$(find husky_gazebo)/launch/spawn_husky.launch">

    <arg name="laser_enabled" value="$(arg laser_enabled)"/>
    <arg name="kinect_enabled" value="$(arg kinect_enabled)"/>
	  <arg name="x" value="$(arg x)"/>
	  <arg name="y" value="$(arg y)"/>
	  <arg name="yaw" value="$(arg yaw)"/>
  </include>

  
</launch>