<?xml version="1.0"?>

<launch>

  <!-- Run the map server -->
  <arg name="map_file" default="$(find sirius)/maps/empty_map.yaml"/>
  <node name="map_server" pkg="map_server" type="map_server" args="$(arg map_file)">
			<param name="frame_id" type="str" value="/map"/>
  </node>
	<!-- <include file="$(find husky_navigation)/launch/amcl.launch" /> -->
	<!-- <include file="$(find husky_navigation)/launch/move_base.launch" /> -->
</launch>