<?xml version="1.0"?>

<launch>
  <!-- Initiate map server with empty world -->
  <include file="$(find sirius)/launch/empty_world_map.launch"/>
  <!-- Spawn sirius in empty world -->
  <include file="$(find sirius)/launch/sirius_empty_world.launch">
  	<arg name="laser_enabled" value="false"/>
  </include> 
  <!-- Run rviz -->
  <include file="$(find husky_viz)/launch/view_robot.launch"/>
  <!-- Run husky_navigation to start move_base -->
  <include file="$(find husky_navigation)/launch/move_base.launch">
  	<arg name="no_static_map" value="false"/>
  </include>
</launch>
