<?xml version="1.0"?>

<launch>
  <!-- Spawn sirius in empty world -->
  <arg name="no_static_map" default="true"/>
  <arg name="laser_enabled" default="true"/>

  <arg name="world_name" default="$(find robot_simulation)/worlds/office.world"/>
  <include file="$(find sirius)/launch/simulation/sirius_empty_world.launch">
    <arg name="world_name" value="$(arg world_name)"/>
    <arg name="laser_enabled" value="$(arg laser_enabled)"/>
  </include> 

  <group if="$(arg no_static_map)">
	  <include file="$(find sirius)/launch/navigation/gmapping.launch" />
	  <include file="$(find sirius)/launch/navigation/move_base.launch">
	  	<arg name="no_static_map" value="$(arg no_static_map)"/>
	  </include>
	</group>

  <group unless="$(arg no_static_map)">
  	<arg name="map_file" default="$(find sirius)/maps/office.yaml"/>
	  <node name="map_server" pkg="map_server" type="map_server" args="$(arg map_file)"/>
	  <include file="$(find sirius)/launch/navigation/amcl.launch"/>
	  <include file="$(find sirius)/launch/navigation/move_base.launch">
	  	<arg name="no_static_map" value="$(arg no_static_map)"/>
	  </include>
	</group>

	<rosparam command="load" file="$(find sirius)/config/twist_mux.yaml" />

</launch>