<?xml version="1.0"?>
<launch>

  <!-- Start EKF for localization -->
  <rosparam command="load" file="$(find sirius)/config/localization.yaml" />

  <node pkg="robot_localization" type="ekf_localization_node" name="ekf_se_odom"/>

  <node pkg="robot_localization" type="ekf_localization_node" name="ekf_se_map">
    <remap from="odometry/filtered" to="odometry/filtered_map"/>
  </node>

  <node pkg="robot_localization" type="navsat_transform_node" name="navsat_transform" respawn="true">
    <remap from="/imu/data" to="/imu/data" />
    <remap from="/gps/fix" to="/navsat/fix" />
    <remap from="/odometry/filtered" to="/odometry/filtered_map" />

  </node>


</launch>
