<?xml version="1.0"?>

<launch>
  <!-- Spawn sirius in empty world -->
  <include file="$(find sirius)/launch/simulation/sirius_empty_world.launch">
    <arg name="laser_enabled" value="true"/>
  </include> 
  <!-- Initiate localisation in the global map frame -->
  <include file="$(find sirius)/launch/localisation/sirius_map_localisation.launch"/>
  <!-- Initiate map server with empty world -->
  <include file="$(find sirius)/launch/maps/empty_world_map.launch"/>
  <!-- Initiate Move Base -->
  <include file="$(find sirius)/launch/navigation/move_base.launch">
    <arg name="no_static_map" value="true"/>
  </include>
  <rosparam command="load" file="$(find sirius)/config/twist_mux.yaml" />
  <!-- Run rviz -->
<!--   <include file="$(find husky_viz)/launch/view_robot.launch"/>
 -->

</launch>