<?xml version="1.0"?>

<launch>
	<!-- Initiate the gps map localisation nodes -->
	<include file="$(find sirius)/launch/localisation/sirius_map_localisation.launch"/>

	<!-- Load collector params -->
	<rosparam command="load" file="$(find sirius_navigation)/config/collector.yaml"/>
	
	<!-- Run GPS waypoints collector node -->
	<node pkg="sirius_navigation" type="collect_gps_waypoints" name="collect_waypoints" output="screen"/>
</launch>