<?xml version="1.0"?>

<launch>
  <arg name="no_static_map" default="true"/>
  <arg name="slam" default="false"/>
  
  <!-- Initiate the gps map localisation nodes -->
  <include file="$(find sirius)/launch/localisation/sirius_map_localisation.launch"/>

  <!-- Static map case -->
  <group unless="$(arg no_static_map)">
    <!-- SLAMing case -->
    <group if="$(arg slam)">
      <include file="$(find sirius_navigation)/launch/navigation/gmapping.launch" />
    </group>

    <!-- Loaded map -->
    <group unless="$(arg slam)">
    <!-- Load the requested map -->
    <arg name="map_file" default="$(find sirius_navigation)/maps/aua_field2.yaml"/>
    <node name="map_server" pkg="map_server" type="map_server" args="$(arg map_file)"/>
    <!-- Begin AMCL -->
    <include file="$(find sirius_navigation)/launch/navigation/amcl.launch"/>
    </group>
  </group>

  <include file="$(find sirius_navigation)/launch/navigation/move_base.launch">
    <arg name="no_static_map" value="$(arg no_static_map)"/>
  </include>

</launch>